<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/AlarmIndexedDB" version="1.0.0" viewmodes="maximized">
    <tizen:app-control>
        <tizen:src name="index.html#alarmActive"/>
        <tizen:operation name="http://tizen.org/appcontrol/operation/startMyAlarm"/>
    </tizen:app-control>
    <tizen:application id="jYChahQiTz.AlarmIndexedDB" package="jYChahQiTz" required_version="2.4"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>AlarmIndexedDB</name>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:profile name="mobile"/>
</widget>
